/*=======GLOBAL==========*/

/*Logo Arinfo*/
.img{
    height: 80px;
}
/*Navbar*/
.row-nav{
    margin: 20px 0 30px 0;
}
.btn-outline-primary{
    text-align: center;
    padding: 0 10px 0 10px;
}


/*=======PAGE PRINCIPALE=========*/
/*Card*/
.card{
    margin-bottom: 60px;
    border-radius : 20px;
    box-shadow: 0px 10px 10px blue;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.card:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.btn{
    display: inline-block;
    vertical-align: middle;
    background-color: #2098D1;
    color: white;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    border-radius: 10px;
}
.btn:hover{
    background-color: blue;
    color: white;
    border-radius: 10px;
}
/*=======PAGE DETAIL=========*/
/*Presentation*/

.categorie{
    background-color: rgb(207, 207, 148);
    border-radius: 50%;
    padding: 20px;
}
.text{
    margin-bottom: 60px;
}
.btn-viste{
    margin: 40px 0 20px 30px;
}

